body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d6e196;
    overflow: hidden;
}
#labyrinth {
    display: grid;
    gap: 1px;
    background-color: #ccc;
    padding: 1px;
    max-width: 50vw;
    max-height: 50vh;
    border: 10px solid #552303;
}
.cell {
    /* aspect-ratio: 1 / 1; */
    border: 1px solid #bc4f1d;
}
#results {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

.container {
    display: flex;
}
